%li
  = link_to result.to_s, result, :style => "padding-right: 5px;"
  - if result.kind_of?(Package)
    = raw star_rating_for(result)
    - if result.description
      %p= raw(highlight(truncate(result.description, :length => 180), search_term))
    - else
      %p No Description