# The production server runs MySQL, so it might be useful to run it
# locally as well. Example configuration follows below:
#
development:
  adapter: mysql2
  database: crantastic
  encoding: utf8
  user:

test:
  adapter: mysql2
  database: crantastic_test
  encoding: utf8
  user:

production:
  adapter: mysql2
  database: crantastic
  encoding: utf8
  user:
